div {
    height:100vh;
    width: 100%;
}
/* ############### SECTION 1 AND COMPONENTS ############### */
#section1 {
    background-image: url(../images/landingImage.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}

#logoImg{
    height: 140px;
    width: 140px;
}

.links{
    background-color: rgb(211,35,35);
    height: 50%;
    width:50%;
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}

.links a, .links a:visited {
    color: white;
    text-decoration: none;
}

.links a:hover {
    text-shadow: 2px 3px 4px white;
}

.slogan{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white solid 10px;
    color: white;
    height: 50%;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.redText{
    color: rgb(211,35,35);
}

.menuButton, .menuButton:visited {
    background-color: rgb(211,35,35);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
    width: 20%;
    border-radius: 50px;
    height: 35px;
    font-size: 30px;

}
.menuButton:hover{
    box-shadow: 4px 5px 7px whitesmoke;
}

/* ############### SECTION 2 AND COMPONENTS ############### */

#section2{
    background-color: rgb(170,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
}
#menuContainer{
    background-color: rgb(212,177,123);
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 5px;
}
#menuInfo{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: start;
    background-color: rgb(211,35,35);
    color: white;

}