#menuContext{
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.menuSection{
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px grey;
}
#drinkType{
    display: flex;
    flex-direction: column;
}